/* Importation des polices */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Réinitialisation des marges et paddings, et application de la police */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Style de base pour le HTML et le body */
html, body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: url('../images/background.png') no-repeat center center fixed;
  background-size: cover;
}

/* Style pour la sélection de texte */
::selection {
  background: #4158d0;
  color: #fff;
}

/* Conteneur principal */
.wrapper {
  width: 40%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

/* Titre du conteneur */
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #6eb376, #346938);
}

/* Formulaire à l'intérieur du conteneur */
.wrapper form {
  padding: 10px 30px 50px 30px;
}

/* Champs du formulaire */
.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

/* Entrées du formulaire */
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

/* Style pour les entrées en focus et valides */
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #346938;
}

/* Étiquette des champs */
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

/* Style des étiquettes en focus et valides */
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #346938;
  background: #fff;
  transform: translateY(-50%);
}

/* Champ de soumission */
form .field.input-submit {
  margin-top: 40px;
  text-align: center;
}

/* Bouton de soumission */
form .field input[type="submit"] {
  height: 40px;
  width: 150px;
  color: #fff;
  border: none;
  padding-left: 0;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #6eb376, #346938);
  transition: all 0.3s ease;
  border-radius: 20px;
}

/* Animation du bouton de soumission */
form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .field input[type="submit"]:hover {
  background: linear-gradient(-135deg, #5aa05f, #2c5630);
  transform: scale(1.05);
}

/* Styles généraux pour les boutons */
.btn {
  display: inline-block;
  width: 60%;
  padding: 15px 0;
  font-size: 17px;
  color: #fff;
  background: linear-gradient(-135deg, #6eb376, #346938);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
}

/* Bouton de retour */
.btn-retour {
  width: 100px;
  text-decoration: none;
  display: inline-block;
  color: #2c5630;
  background: linear-gradient(-135deg, #ebebeb, #cccccc);
  text-align: center;
}

/* Animation du bouton de retour */
.btn-retour:hover {
  text-decoration: none;
  background: linear-gradient(-135deg, #cccccc, #ebebeb);
  transform: scale(1.05);
}

/* Animation des boutons de zone */
.btn-zone:hover {
  background: linear-gradient(-135deg, #2c5630, #5aa05f);
  transform: scale(1.05);
}

/* Champ de soumission */
.field.input-submit {
  margin-top: 20px;
}

/* Media queries pour le design responsive */
@media (max-width: 900px) {
  .wrapper {
    width: 70%;
  }
  form .field input[type="submit"],
  .btn {
    width: 80%;
  }
  .btn-retour {
    width: 80px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    width: 90%;
  }
  form .field input[type="submit"],
  .btn {
    width: 100%;
  }
  .btn-retour {
    width: 60px;
  }
}
